<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!--Includes-->
  <?include $(var.PowerBroadcastProviderSetupLib.ProjectDir)Constants.wxi ?>

  <Product Id="*" Name="$(var.ProductName)" Version="$(var.Version)" Language="1033" Codepage="1252"
           Manufacturer="$(var.Manufacturer)"  UpgradeCode="$(var.UpgradeGuid)">
    <!--Package-->
    <Package InstallerVersion="300" Compressed="yes"  Id="*" InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)" Description="$(var.ProductName) Installer"/>

    <!--Upgrade-->
    <MajorUpgrade Schedule="afterInstallInitialize"
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="no"
                  DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <!--Platform check-->
    <Condition Message="This package can only be installed on a 64bit platform.">
      <![CDATA[VersionNT64]]>
    </Condition>

    <!--Add features from lib-->
    <FeatureRef Id="PowerBroadcastProvider" />
  </Product>
</Wix>