<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!--Includes-->
  <?include $(var.ProjectDir)Constants.wxi ?>

  <Fragment>
    <!--Media-->
    <Media Id="1" Cabinet="PBC.cab" EmbedCab="no" CompressionLevel="mszip"/>   

    <!--.NET Framework check-->
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>

    <Condition Message="$(var.ProductName) requires .NET Framework 4.0.">
      <![CDATA[NETFRAMEWORK40CLIENT]]>
    </Condition>

    <!--Features-->
    <Feature Id="PowerBroadcastProvider" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="PowerBroadcastProviderExe" />
    </Feature>

    <!--Launch application after installation-->
    <CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start [INSTALLFOLDER]PowerBroadcastProvider.exe" />

    <InstallExecuteSequence>
      <Custom Action="LaunchApp" After="InstallFinalize">
        <![CDATA[Install]]>
      </Custom>
    </InstallExecuteSequence>
    
    <!--Directory structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFiles)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
    </Directory>

    <!--Install directory setup-->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="PowerBroadcastProviderExe" Guid="7B0A9D79-0E9C-4ABA-B13B-894CA7B67344" Win64="$(var.Win64)">

        <File Id="PowerBroadcastProvider.exe" Name="PowerBroadcastProvider.exe" DiskId="1" Vital="yes" KeyPath="yes"
              Source="$(var.PowerBroadcastProvider.TargetDir)PowerBroadcastProvider.exe">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="PowerBroadcastProviderNativeImage" Priority="1" Platform="$(var.NGenPlatform)"/>
          <?endif?>
        </File>

        <util:EventSource Name="PowerBroadcastProvider" Log="Application" 
                          EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR64]EventLogMessages.dll"/>

        <RegistryValue Root="HKLM" Key="Software\$(var.CompanyName)\$(var.ProductName)"
                       Name="installed" Type="integer" Value="1" />

        <RegistryValue Name="PowerBroadcastProvider" Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Value="[INSTALLFOLDER]PowerBroadcastProvider.exe All" Type="string" />

      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>